<ion-view title="About Us" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <h1 id="aboutUs-heading1" style="color:#000000;font-weight:lighter;">GraphWhy.org</h1>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <div id="aboutUs-markdown1" style="color:#555;">
            <p>Preserve individuality &amp; self-identification - treat our users like individuals throughout the process ‘This is the beginning of engagement with this person’ ‘Engage the audience, sell them ideas that you already have and see if they resonate
                with them. If you are a campaign manager you would continue because the identify with your candidate. The survey is the beginning but it ends with the a solidified relationship. But with a good idea of what issues resonate with supporters.’
                Ie. out of all the issues that I am taking on which ones resonate the most with the audience i am working with. Ultimately a politician can only focus on the top ten issues that identify with their audience.</p>

            <p>Audience insight and audience building</p>

            <p>Get the survey taker to identify with your stance then maintain a relationship with them post questionnaire</p>

            <p>Establishing identity</p>

            <p>Show people where they fit in with the overall population that is taking this questionnaire. Establish a society within the larger society.</p>

            <p>Living questionnaire</p>
        </div>
    </ion-content>
</ion-view>
