<ion-view title="About Us" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <h1 id="aboutUs-heading1" style="color:#000000;font-weight:lighter;">GraphWhy.org</h1>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <div id="aboutUs-markdown1" style="color:#555;">
            <p>
            	At GraphWhy.org, we are ‘building statistical understanding’. Our main goal here at GraphWhy is to build an archive and database of people’s beliefs so that our society can have an extensive resource to understand why our world is the way it is.
            </p>

            <p>For example, a student is writing a paper on why our national debt has grown to the size that it is now. In addition to some economic and political theory, the student wants to explore how U.S. citizens feel about the national debt. Using GraphWhy the student has a set of tools perfect for exploring how citizens feel about the national debt.</p>

            <p>Get the survey taker to identify with your stance then maintain a relationship with them post questionnaire</p>

            <p>Establishing identity</p>

            <p>Show people where they fit in with the overall population that is taking this questionnaire. Establish a society within the larger society.</p>

            <p>Living questionnaire</p>
        </div>
    </ion-content>
</ion-view>
