<ion-view title="About Us" id="page4" class="aboutUs">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class='desktopProtector aboutUs'>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <!-- START OF ABOUT US -->
            <h3 id="aboutUs-heading1" style="color:#666;font-weight:400;">GraphWhy.org</h3>
            <div class="spacer" style="width: 300px; height: 5px;"></div>
            <h1 id="aboutUs-heading1" style="color:#000;font-weight:lighter;font-size:5em; letter-spacing:3px;">About Us</h1>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <div id="aboutUs-markdown1" style="color:#333" letter-spacing:1px;">
                <p>
                    We are a tool for ‘statistical understanding’. Our main goal is to database people’s opinions and beliefs. Our dream is that one day society can have a public resource for understanding why the world is the way it is. We are working everyday to be that public resource.
                </p>
                <p class='response'>"Uhh, what does that mean?"</p>
                <p>
                    We are a survey site. Our big innovation is that all gathered information goes into a public database for anyone to use.
                </p>
                <p>
                    Here is a high level example:
                </p>
                <p>
                    Lets say, A student writing a paper on why the national debt has grown to over $17 trillon dollars. The student has access to economic and political theories, but he wants to explore how U.S. citizens feel about the national debt. Using GraphWhy the student has a free statistical tool to provide the information he is looking for.
                </p>
                <p>
                    If someone has done a survey on the national debt our student can use that information. Our student can even grow the dataset or develop his own survey.
                </p>
                <p>
                    The take away is this, without GraphWhy.org the public can't access raw data from previous surveys. Currently, no company offers an open database to the public. Even if they did there is no guarentee that service will always be available. Because GraphWhy is a non-profit the software and database will always belong to the public.
                </p>
                    <!-- END OF ABOUT US 
                    <hr>
                    <!-- BEGINNING OF WHAT IS 
                    <br/>
                    <h3 id="aboutUs-heading1" style="color:#666;font-weight:400;">What is GraphWhy.org?</h3>
                    <div class="spacer" style="width: 300px; height: 5px;"></div>
                    <h1 id="aboutUs-heading1" style="color:#000;font-weight:lighter;font-size:3.8em; letter-spacing:3px;">Free Survey Tools</h1>
                    <br/>
                    <h4>These three main components of GraphWhy.org:</h4>
                    <!-- UH THAT WAS A BAD IDEA -->
<!--
                <br/>
                <hr>
                <p class="response">"Can you tell me more about the tool?"</p>
                <p>
                    There three main components of GraphWhy.org:
                </p>
                <p>
                    Survey Maker: Create a survey with an ever expanding set of tools and options.
                </p>
                <p>
                    Public Database: Have free access to the information generated on site.
                </p>
                <p>
                    Data Analysis: Generate charts based on the information featured in our database. Compare questions to find correlation.
                </p>
                <p class="response">So what is the big take away?</p>
                <p>
                    GraphWhy.org is an educational tool dedicated to public awareness public understanding. 
                </p>
                <p>
                    If you are interested in contributing to our code you can visit <a href="https://www.github.com/GraphWhy/">www.GitHub.com/GraphWhy</a>
                </p>
                <p>
                    If you would like to know more or conduct a survey email - <u><b>Alexander.McNulty92@gmail.com</b></u>
                </p>
-->
                <br/><br/><br/><br/><br/>
            </div>
        </div>
    </ion-content>
</ion-view>