<ion-view title="Question Set" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class='desktopProtector'>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <h1 id="questionSet-heading2" style="color:#000000;font-weight:lighter;">Current Tags</h1>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <ion-list>
            <ion-item style="white-space:initial" 
                menu-close href="{{'/app/t/' + t.title}}"
                ng-repeat="t in tags" 
                on-tap="reset()" 
                ng-show="t.questions.length > 0"> 
                <span class='tag-index'>{{t.questions.length}}</span>
                <span class=''>{{t.title}}</span>
            </ion-item>
        </ion-list>
      </div>
  </ion-content>
</ion-view>