<ion-view view-title="Browse">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 3px;"></div>
        <h1 id="identities-heading3" style="color:#000000;font-weight:lighter;">Identites</h1>
        <div class="button-bar">
            <button id="identities-button5" class="button button-royal  button-block button-outline">unselected</button>
            <button id="identities-button6" class="button button-stable  button-block button-outline">selected</button>
        </div>
        <form class="list">
            <ion-checkbox>Black</ion-checkbox>
            <ion-checkbox>White</ion-checkbox>
            <ion-checkbox>Asian</ion-checkbox>
            <ion-checkbox>Mixed Ethnicity</ion-checkbox>
            <ion-checkbox>High School Graduate</ion-checkbox>
            <ion-checkbox>GED</ion-checkbox>
            <ion-checkbox>Alcoholic</ion-checkbox>
            <ion-checkbox>Athlete</ion-checkbox>
            <ion-checkbox>Leader</ion-checkbox>
        </form>
    </ion-content>
</ion-view>
