<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" ng-hide="!loggedin">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content >
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
            <ion-item class="item-divider">Tags</ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="{{'#/app/t/' + t.title}}" ng-repeat="t in tags" on-tap="reset()">#{{t.title}}</ion-item>
            </ion-list>
            <ion-item class="item-divider">Profile</ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="#/app/create">Create Question</ion-item>
                <ion-item menu-close href="#/app/myquestions">Question History</ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 141px;"></div>
              <div class="tabs" style="bottom:0px">
                <a class="tab-item">
                  About Us
                </a>
                <a class="tab-item" menu-close on-tap="doLogout()">
                  Log Out
                </a>
              </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
