<ion-view title="Question Set" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <h1 id="questionSet-heading2" style="color:#000000;font-weight:lighter;">Do you party?</h1>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <ion-list>
            <ion-item>No, absolulety not</ion-item>
            <ion-item>No, somewhat</ion-item>
            <ion-item>Other</ion-item>
            <ion-list>
                <ion-item>Yes, somewhat</ion-item>
                <ion-item>Yes, absolulety</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Add Question</span>
                <select>
                    <option>Pick one</option>
                    <option>Checkbox</option>
                    <option>Fill in the black</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>
