<ion-view view-title="Welcome">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <h1 id="welcome-heading4" style="color:#000000;font-weight:lighter;text-align:center;">GraphWhy</h1>
        <div id="welcome-markdown3" style="color:#A5A5A5;text-align:center;">
            <p>Create statistical understanding</p>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <div class="button-bar">
            <button id="welcome-button7" class="button button-positive  button-block">Sign Up</button>
            <button id="welcome-button8" class="button button-positive  button-block">Log In</button>
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="menu.questionSet" id="welcome-button10" class="button button-positive  button-block">Enter</a>
        </form>
    </ion-content>
</ion-view>
